# fichiers de compilation latex
*.aux
*.dvi
*.log
*.out
*.ps
*.nav
*.snm
*.toc
*.vrb

# dossier python
**/__pycache__

# executables compilés et fichier caml
*.exe
*.cmi
*.cmx
*.o

# dossier minted
**/_minted*

# vscode
/.vscode

# Corrigé et sujets non encore publiables
**/*.later
*.later

# fichier ods (notes de DS)
*.ods